{% extends 'base.html.twig' %}

{% block body %}
   <style>
      #home-image {

           background: url("bundles/prkweb/images/lik.jpg") no-repeat center center fixed;
           -webkit-background-size: cover;
           -moz-background-size: cover;
           -o-background-size: cover;
           background-size: cover;
           min-height: 100% !important;
           height: 1000px !important;
       }
       #logo{
           font-family: 'Amatic SC', cursive;
           color: white;
           font-size: 3em;
       }

   </style>
    <div class="ui inverted masthead segment" id="home-image">
        <div class="ui page grid">
            <div class="column">
                <a href="{{ path('homepage') }}"><h1 id="logo">PEREM RIBAM KUVAM</h1></a>
            </div>
        </div>
    </div>


    {{ render(controller('PRKServiceBundle:Service:index')) }}



{% endblock %}
